doctype
html(lang='en-us')
head
    meta(charset='utf-8')
    title #{title} TI Coffee Consumption
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='/scripts/site.js')
  body
    #title
      img(src='images/woodtop.png', style='position: relative; margin-top: -8px; margin-left: -8px;')
      img(src='images/title.png', style='position: absolute; top: 55px; left: 50%; margin-left: -507px; width: 1014px')
    #mainContent
      #stats
        #amount
          p#number 42
        #last
          p#time 13:37
        img(src='images/cups.png')
        img(src='images/last.png')
      canvas#myCanvas(width='1300', height='700')
      // button#wtf.buttonStyle ayy
    script.
      // Uber-leet scripting
      var coffeeTimeArray = !{JSON.stringify(piet)};
      var myAmount = document.getElementById("amount");
      var myTime = document.getElementById("last");
      // var ayyButton = document.getElementById("wtf");
      // ayyButton.addEventListener('click', lmao, false);
      drawGraph(document.getElementById("myCanvas").width, document.getElementById("myCanvas").height);
      definePos();
      myAmount.textContent = totalCups;
      myTime.textContent = timeString;
      // ayyButton.addEventListener('click', lmao, false);
      // function lmao() {
      // definePos();
      // }

